button {
    width: 11em;
    height: 3em;
    color: aliceblue;
    background-color: darkgoldenrod;
    border-radius: 4px;
    margin-top: 0.5em;
}

section.buttons {
    display: flex;
    justify-content: center;
}

.positive {
    background-color: darkgreen;
    color: aliceblue;
}

.danger {
    background-color: red;
    color: aliceblue;
}

.center {
    text-align: center;
}

section.buttons {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}